<h3>Your time logs (<a href="/logs/new">new</a>)</h3>
<br>
<% @logs.each do |l| %>
  <div class="time_block">
    Date: <input type="date" value="<%= l.date %>" readonly/>
    <br>
    Start Time: <input type="time" value="<%= l.start_time %>" readonly/>
    <br>
    End Time: <input type="time" value="<%= l.end_time %>" readonly/>
    <br>
    <form action="/logs/<%= l.id %>/delete" method="POST">
      <a href="/logs/<%= l.id %>/edit">Edit</a> | <input type="submit" value="delete" />
    </form>
  </div>
<% end %>
<br>
<h3>All user time logs</h3>
<br>
<% @logs.each do |l| %>
  <div class="time_block">
    Date: <input type="date" value="<%= l.date %>" readonly/>
    <br>
    Start Time: <input type="time" value="<%= l.start_time %>" readonly/>
    <br>
    End Time: <input type="time" value="<%= l.end_time %>" readonly/>
  </div>
<% end %>
